body {
  margin: 0;
  background-color: #27a4da;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: white;
  font: 2rem "Open Sans", sans-serif;
}

.box {
  background-color: #fff;
  border: 3px solid #000;
  width: 150px;
  height: 150px;
}

.mole {
  background-color: red;
}

#content {
  display: grid;
  gap: 10px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#high-score {
  position: absolute;
  top: 0;
  left: 10px;
  margin-top: 5px;
}

#score {
  position: absolute;
  top: 0;
  right: 10px;
  margin-top: 5px;
}

#start-button {
  color: #fff;
  background-color: #0fb000;
  padding: 20px;
  border: none;
  border-radius: 30px;
  font: 2rem "Open Sans", sans-serif;
  transition: 0.3s;
}

#start-button:hover {
  background-color: #13e300;
  /* box-shadow: 0 0 20px #13e300; */
  filter: drop-shadow(0 0 20px #13e300);
}
